{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<!--Annie-->

<h2>A B O U T  &nbsp; U S</h2>

<p> &nbsp;</p>

<h3>Founders</h3>

<!--<img class="main_img" src="/static/Lily.JPG" alt="Lily's Photo" width="300" height="500">-->
<div class="row">
  <div class="column">
      <img class="main_img" src="/static/Lily.JPG" alt="Lily's Photo">
      <p> Lily is a first year at Harvard College studying Electrical Engineering.</p>
      </div>
  <div class="column">
      <img class="main_img" src="/static/Annie.jpg" alt="Annie's Photo">
      <p> Annie is a sophomore at Harvard College studying History and Science.</p>
      </div>
  <div class="column">
      <img class="main_img" src="/static/Joyce.jpg" alt="Joyce's Photo">
      <p> Joyce is a sophomore at Harvard College studying Nueroscience.</p>
    </div>
</div>

<p> &nbsp;</p>

<h2>O R I G I N S</h2>

<p>As part of the quintessential college experience, we are surrounded by people who come from all different parts of the world
and walks of life. The idea for our website came from fusing various parts of our interests together to ultimately have a platform that can
allow travelers to become more concious of their footprints. We aim to accomplish this by providing suggestions
for literature about countries that tourists can delve into, providing documentaries that depict the complex culture of countries as well, and finally
including ways that would make tourism more sustainable.</p>

<!--ADD MORE-->

<p> &nbsp;</p>

<h2>F U T U R E</h2>

<p> This project right now is contained within 20 countries simply due to the sheer amount of information that is available. In the future, we would
like to expand to beyond 20 countries and promote sustainable tourism across the world. Furthermore, we are currently limiting movie genres to documentaries about the chosen country,
but we hope to expand to all genres in the future.</p>

{% endblock %}