{% extends "layout.html" %}

{% block title %}
   Book Results
{% endblock %}

{% block main %}
<table class="table tc">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in info.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>
                        {% for author in value %}
                            {{ author }}
                        {% endfor %}
                    </td>
                </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}
