{% extends "layout.html" %}

{% block title %}
    Song Results
{% endblock %}

{% block main %}
<table class="table tc">
    <thead class= "theader"><b>Top Tracks: {{ country }}</b></thead>
    <thead>
        <tr>
            <th>Song Title</th>
            <th>Artist</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in info.items() %}
                <tr>
                    <td><a href="https://www.last.fm/music/{{ value }}/_/{{ key }}">{{ key }}</a></td>
                    <td>{{ value }}</td>
                </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}