{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container">
  <div id="carouselExampleControls slideingpics" class="carousel slide carousel-fade pictureslide" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner">
      <div class="carousel-item active picture">
        <img src="/static/peter.jpg" class="d-block w-100" alt="St. Petersburg">
      </div>
      <div class="carousel-item picture">
        <img src="/static/tokyo.jpg" class="d-block w-100" alt="Tokyo">
      </div>
      <div class="carousel-item picture">
        <img src="/static/istanbul.jpg" class="d-block w-100" alt="Istanbul">
      </div>
      <div class="carousel-item picture">
        <img src="/static/sydney.jpg" class="d-block w-100" alt="Sydney">
      </div>
      <div class="carousel-item picture">
        <img src="/static/morocco.jpg" class="d-block w-100" alt="Morocco">
      </div>
      <div class="carousel-item picture">
        <img src="/static/thailand.jpg" class="d-block w-100" alt="Thailand">
      </div>
      <div class="carousel-item picture">
        <img src="/static/egypt.jpg" class="d-block w-100" alt="Egypt">
      </div>
    </div>
  </div>
  </div>
<div>
    <p> </p>
    <div class="centered">W E L C O M E</div>
    <h2>F i n d &nbsp; A u t h e n t i c i t y . &nbsp; T r a v e l &nbsp; R e s p e c t f u l l y .</h2>
    <p>With approximately a billion tourists traversing the globe, many natural, cultural, and historical sites have become threatened by frequent—and at times destructive—visitation. By prioritizing cultural, historical, and social heritages, we hope to help you learn more about different countries around the world to encourage responsible and engaged travel.</p>
    <p>&nbsp;</p>
    <h2>H o w &nbsp; t o &nbsp; U s e </h2>
    <p>Start using Horizons by creating an account first. After you join, you will have access to our book and movie recommendation services for each travel destination. You can access them through the navigation bar. Learn more about different countries by searching through our dropdown menus!</p>
  </div>

{% endblock %}

