{% extends "layout.html" %}

{% block title %}
    Search Books
{% endblock %}

{% block main %}

 <img class="background-image"
       src="/static/greece.jpg" alt="Russia" />



<h2>Book Search</h2>
        <form action="/searchbooks" method="post">
            <div class="form-group">
                <select name="country">
                        <option value="Argentina">Argentina</option>
                        <option value="Austria">Austria</option>
                        <option value="Brazil">Brazil</option>
                        <option value="Egypt">Egypt</option>
                        <option value="France">France</option>
                        <option value="Germany">Germany</option>
                        <option value="Greece">Greece</option>
                        <option value="India">India</option>
                        <option value="Israel">Israel</option>
                        <option value="Italy">Italy</option>
                        <option value="Japan">Japan</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Mongolia">Mongolia</option>
                        <option value="Morocco">Morocco</option>
                        <option value="Peru">Peru</option>
                        <option value="Phillipines">Phillipines</option>
                        <option value="Russia">Russia</option>
                        <option value="Sweden">Sweden</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Turkey">Turkey</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Search Books</button>
        </form>
        <p> </p>
        <footer>Data provided by Google Books</footer>

{% endblock %}
